---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';
---

<Base meta_title="쯈ui칠n es Yoiner Moreno?">
  <Page title="쯈ui칠n es Yoiner Moreno?">
    <p>
      Soy un joven de 19 a침os nacido en Venezuela y residiendo en Bogot치, Colombia. Actualmente soy estudiante de primer
      a침o en la carrera de Ciencias de la Computaci칩n. Generalmente me suelen conocer por mi nickname ghxstloner. 游땕
    </p>

    <p>
      Cuando ten칤a 8 a침os sol칤a jugar con las motherboards da침adas de mi padre creyendo que los componentes formaban
      parte de una metr칩polis. Desde muy peque침o hice uso de un computador para jugar videojuegos y cuando descubr칤 a
      los 12 a침os la cantidad de cosas que se pod칤an hacer a trav칠s de un lenguaje de programaci칩n realizando dicha
      implementaci칩n con Minecraft sent칤 much칤sima satisfacci칩n, tuve por primera vez el deseo de crear cosas
      relacionadas al software. Y desde entonces, aquella primera exposici칩n, la programaci칩n ha definido mi vida. 游
    </p>

    <img width="800" height="600" src="https://assets.rbl.ms/25591710/origin.jpg" />

    <p>
      Adem치s de ser apasionado por la programaci칩n, estoy ansioso por desafiarme a hacer cosas que nunca antes hab칤a
      logrado y me esfuerzo por aprender y mejorar mis habilidades todos los d칤as (por ejemplo, si tienes cr칤ticas
      constructivas o sugerencias sobre este sitio web reci칠n creado, estar칠 encantado de escucharlas 游땎).
    </p>

    <hr />
    <h3>Intereses</h3>
    <p>
      Quiz치 una de las cosas que m치s me apasiona es la m칰sica, tengo los gustos demasiado variados, pero s칤 tuviese que
      escuchar una 칰nica banda durante el resto de mi vida. Sin pensarlo escoger칤a:
    </p>
    <ul><li>The Smiths 游꿧</li></ul>

    <h3>Especialidad</h3>

    <p>
      Definitivamente el dise침o nunca se me ha dado bien, sin embargo, en estos momentos estoy estudiando Angular. Para
      complementar dicho perfil de Full-Stack acompa침ando la tecnolog칤a de SpringBoot, enf칩candome en Java y TypeScript.
    </p>

    <h3>Proyectos recientes</h3>
    <p>
      API Restful para un <a href="https://github.com/ghxstloner/restfull-vollmed" target="_blank">Hospital</a>:
      haciendo uso de un RDBMS para gestionar las bases de datos como MySQL y l칩gica de negocio con SpringBoot 游꼒. Ya
      que este nos implementa muchas capas backend, nos facilita realizar nuevas implementaciones y mantener buenas
      pr치cticas como patrones de dise침o (DTO, MVC).
    </p>
    <p>
      Editor de <a href="https://github.com/ghxstloner/MOOCTextEditor" target="_blank">texto inteligente</a>: la
      interfaz visual se realiz칩 con la API Java FX, la l칩gica detr치s de este proyecto fue creada meramente con Java
      Vanilla. Teniendo check-spelling y un juego como lo es el Markov Text Generator, que es crear historias aleatorias
      en base a un texto que hayas escrito.
    </p>
    <p>
      <a href="https://github.com/ghxstloner/currency-converter" target="_blank">Conversor de monedas</a>: interfaz
      gr치fica con la API de Java FX, esta vez fue creada a trav칠s de un programa que facilita dicho dise침o como lo es el
      SceneBuilder. La l칩gica de negocio de esta aplicaci칩n la hallamos detr치s de "OpenExchangeRates API", ya que nos
      facilita en tiempo real los costos de las divisas en tiempo real. En este proyecto aprend칤 sobre la programaci칩n
      multithreading, ya que curiosamente quer칤a que una imagen se mostrase mientras se realizaba la operaci칩n y se
      desapareciera cuando la operaci칩n haya culminado.
    </p>
  </Page>
</Base>
