---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';
---

<Base meta_title="Coding">
  <Page title="Programación competitiva en C++">
    <p></p>

    <p></p>

    <p></p>

    <p></p>
  </Page>
</Base>
